/*General*/
@media (max-width: 992px){

}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p, h1, h2, h3, h4, h5, h6, li, a, span{
    font-family: Arial Narrow ,sans-serif;
}

.form-control, a{
    border-radius: 0;
}

.btn{
    border-radius: 0;
}

/*Header*/

#logo-header{
    margin-top: -10px;
    border: 0;
}

.navbar-default{
    background: none;
}

.header .navbar-right .dropdown-menu{
    right: inherit;
    min-width: 200px;
}

.header .navbar-default .navbar-nav > li > a,
.header .navbar-default .navbar-nav > li > a:focus {
    border-bottom: solid 2px transparent;
}

.navbar #first{
    color: #687074;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar #first:hover, #first:focus{
    border-bottom: solid 2px #428bca;
    background: none;
}

.navbar #second{
    color: #687074;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar #second:hover{
    background: none;
    color: #428bca;
}

.navbar #second:focus{
    background: none;
}

.navbar #third{
    margin: -4px 0;
    color: #687074;
    font-weight: 400;
    padding: 8px 20px;
    font-size: 15px;
    text-transform: capitalize;
}

.navbar #third:hover, .navbar #third:focus{
    color: #fff;
    background: #687074;
}

.navbar .glyphicon-menu-down{
    top: -2px;
    left: 1px;
    font-size: 8px;
}

.navbar .dropdown-menu{
    top: 50px;
    border-radius: 0;
    border-top: solid 2px #428bca;
    border-bottom: solid 2px #687074;
}

/*Domain style*/

.tag-box{
    background: #fafafa;
    border: 1px solid #eee;
    padding: 20px 0;
    margin-bottom: 30px;
}

.tag-box2{
    border-left: 2px solid #3498db;
}

.tag-box .btn{
    color: #fff;
}

.tag-box .btn:hover{
    color: #fff;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-color: #097BDA;
}

/*Top Bar (login, search etc.)
------------------------------------*/

.top{
    padding: 5px 0;
}

.top ul.loginbar{
    margin: 0;
    padding: 0;
    z-index: 9999;
    position: relative;
}

.top ul.loginbar > li{
    display: inline;
    list-style: none;
    padding-bottom: 15px;
}

.top ul.loginbar > li > a,
.top ul.loginbar > li > a:hover{
    color: #7c8082;
    font-size: 13px;
    text-transform: uppercase;
}

.top ul.loginbar li i.fa-globe{
    color: #bbb;
}

/*Languages*/

.top ul.languages{
    top: 25px;
    left: -5px;
    display: none;
    padding: 4px 0;
    list-style: none;
    min-width: 100px;
    position: absolute;
    background: #f0f0f0;
}

.top li:hover ul.languages{
    display: block;
}

.top ul.languages li a{
    color: #555;
    display: block;
    font-size: 10px;
    padding: 2px 12px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

.top ul.languages li.active a i{
    color: #999;
    float: right;
    margin-top: 2px;
}

.top ul.languages li a:hover,
.top ul.languages li.active a{
    background: #fafafa;
}

.top ul.languages li a:hover{
    text-decoration: none;
}

/*Revolution-Slider*/

.fullwidthbanner-container{
    margin-top: -20px;
}

.sfb{
    padding: 15px 5px;
    background-color: rgba(0,0,0,0.4);
}

.sfr>span{
    color: #72c02c;
}

.sfb>span{
    color: #ffcc00;
}

/*Pricing Page
------------------------------------*/

.pricing{
    margin: 0;
    padding: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border: 1px solid #eee;
}

.pricing:hover {
    margin-top: -15px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.pricing-head{
    text-transform: uppercase;
    color: #fff;
    padding: 1px 0 10px 0;
    text-align: center;
}

.pricing-head span{
    text-transform: capitalize;
}

.pricing-head h3{
    font-weight: bold;
}

.pricing-head em{
    margin-top: 10px;
    display: block;
    font-size: 12px;
}

.pricing-second-head{
    color: #999;
    border-bottom: 1px solid #daf0ff;
    border-top: 1px solid #daf0ff;
    text-align: center;
}

.pricing-second-head h4{
    font-weight: bold;
    font-size: 70px;
}

.pricing-second-head i{
    font-style: normal;
    position: relative;
    top: -10px;
    font-size: 28px;
}

.pricing-second-head:hover{
    color: #2294F3;
}

.info{
    background-color: #2294F3;
}

.success{
    background-color: #4DAD51;
}

.warning{
    background-color: #FF9800;
}

.danger{
    background-color: #F44336;
}

.pricing-content li{
    color: #999;
    border-bottom: 1px solid #daf0ff;
    padding: 15px 15px;
}

.pricing-content li i{
    font-size: 16px;
    margin-right: 5px;
    color: #2294F3;
}

.pricing-footer{
    padding: 10px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.pricing-footer .btn {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.pricing-footer .btn:hover{
    color: #353535;
}

hr{
    margin: 60px 0 80px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}

/* iFrame*/

.wrap{
    border:none;
    overflow:hidden;
    margin-bottom: 60px;
}

.wrap iframe{
    height: 427px;
}

.wrap2{
    margin-top: -20px;
    overflow:hidden;
    border: none;
}

.wrap2 iframe{
    width: 800px;
    height: 400px;
}

/* Recent Work  */

.recent-work a {
    margin-bottom: 12px;
    text-align: center;
    background: #fcfcfc;
    display: inline-block;
}

.recent-work a:hover {
    text-decoration: none;
}

.recent-work a:hover strong {
    color: #555;
}

.recent-work em.overflow-hidden {
    display: block;
    overflow: hidden;
}

.recent-work a span {
    padding: 10px;
}

.recent-work a strong {
    color: #555;
    display: block;
}

.recent-work a i {
    color: #777;
}

.recent-work li{
    border-bottom: solid 2px #eee;
}

.recent-work li:hover{
    border-bottom: solid 2px #3498db;
}

.recent-work a img {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.recent-work a:hover img {
    opacity: 0.8;
    -webkit-transform: scale(1.2) rotate(3deg);
    -moz-transform: scale(1.2) rotate(3deg);
    -o-transform: scale(1.0) rotate(3deg);
    -ms-transform: scale(1.2) rotate(3deg);
    transform: scale(1.2) rotate(3deg);
}

.recent-work a:hover span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*Block Headline*/

.headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.headline h2,
.headline h3,
.headline h4 {
    color: #585f69;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #3498db;
}

.headline h2 {
    font-size: 23px;
}

/*Flexslider*/

.flexslider {
    margin-top: 10px !important;
    background: none !important;
}

.flexslider li{
    background: #fafafa;
}

.flexslider li:hover{
    background: #f6f6f6;;
}

.flexslider li img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.flexslider li:hover img{
    filter: none;
}

/*Social-img*/
/*Icons
------------------------------------*/
/*Social Icons*/

.social-icons{
    margin: 0;
    padding: 0;
}

.social-icons li {
    float: left;
    list-style: none;
    display: inline;
    margin-bottom: 5px;
    margin-right: 5px;
    text-indent: -9999px;
}

.social-icons li a{
    width: 28px;
    height: 28px;
    display: block;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%)
}

.social-icons li:hover a{
    filter: none;
    background-position: 0 -28px;
}

.social_facebook {
    background: url('../img/facebook.png') repeat-y;
}

.social_rss {
    background: url('../img/rss.png') repeat-y;.
}

.social_twitter {
    background: url('../img/twitter.png') repeat-y;
}

/*Footer*/

.footer {
    color: #dadada;
    bottom: 0;
    padding: 20px 0 30px;
    background: #585f69;
}

.footer address a {
    color: #3498db;
    font-size: 14px;
}

.footer h2{
    color: #e4e4e4;
}

.footer .head{
    font-size: 16px;
    color: #3498db;
}

.footer .foot{
    font-size: 13px;
    color: #e4e4e4;
}

.footer .btn{
    float: right;
    color: #fff;
}

.footer input[disabled] {
    cursor: default;
}

.footer .btn:hover{
    color: #fff;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-color: #097BDA;
}

.footer form label{
    color: #fa0000;
}

/*Copyright*/

.copyright {
    bottom: 0;
    font-size: 12px;
    padding: 11px 0 7px;
    background: #3e4753;
    border-top: solid 1px #777;
}

.copyright p {
    color: #dadada;
}

.copyright p.copyright-space {
    margin-top: 12px;
}

.copyright a {
    color: #3498db;
}
.copyright a:hover {
    color: #3498db;
}

/*Back-to-Top*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 45px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    width: 51px;
    height: 42px;
    background-image: url('../img/up.png'); /* Set a background color */
    cursor: pointer;
}

/*About, Manifest*/
.box{
    text-align: justify;
    margin-bottom: 90px;
    background: #fafafa;
    padding: 30px 30px 25px 30px;
    border: 1px solid #eee;
}

.box p .head{
    color: #3498db;
    font-size: 20px;
}

.box p .foot{
    color: #000000;
    font-size: 15px;
}

.box-2{
    border-left: 2px solid #3498db;
}

.head-back{
    margin: -20px 0 55px 0;
}

/*Servive Blocks*/

.service-block-in {
    padding: 40px 50px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service-block-in:hover {
    box-shadow: 0 0 8px #ddd;
}

.service-block-in a {
    text-decoration: none;
}

.service-block-in i {
    font-size: 40px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.service-block-red {
    background: #e74c3c;
}

.service-block-sea {
    background: #1abc9c;
}

.service-block-blue {
    background: #3498db;
}

.service-block-grey {
    background: #95a5a6;
}

.service-block-yellow {
    background: #f1c40f;
}

.service-block-orange {
    background: #e67e22;
}

.service-block-green {
    background: #2ecc71;
}

.service-block-colored i,
.service-block-colored p,
.service-block-colored h4,
.service-block-colored:hover i,
.service-block-colored:hover h4 {
    color: #fff;
}

.service-block-colored p{
    font-size: 12px;
}

.service-block-colored:hover {
    opacity: 0.8;
    box-shadow: none;
}

.box-services{
    margin-top: -20px;
}

/*Portfolio
------------------------------------*/

.view {
    z-index:9;
    cursor: default;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 3px #ddd;
}

.view .mask,.view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    text-shadow:none;
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center;
}

.view a.info {
    color: #fff;
    background: #000;
    padding: 5px 12px;
    text-decoration: none;
    margin-top:10px;
    display: inline-block;
    overflow:hidden;
    text-transform: uppercase;
}

.view a.info:hover {
    background:#72c02c;
}

/*CSS3 Hover Effect*/

.view-tenth img {
    left:10px;
    margin-left:-10px;
    position:relative;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.view-tenth .mask {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth h2 {
    color: #333;
    margin: 20px 40px 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth p {
    color: #333;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-tenth a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-tenth:hover img {
    -webkit-transform: scale(2) rotate(10deg);
    -moz-transform: scale(2) rotate(10deg);
    -o-transform: scale(2) rotate(10deg);
    -ms-transform: scale(2) rotate(10deg);
    transform: scale(2) rotate(10deg);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.view-tenth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.box-portfolio{
    margin-top: -20px;
}

/*Form-Validate*/

.text-danger{
    font-size: 16px;
    color: red;
}

/*Contact Us*/

.color-red{
    color: #e74c3c;
}

.t{
    color: #fff;
}

.t:hover{
    color: #fff;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-color: #097BDA;
}

.feedback span{
    line-height: 1.8em;
}