.glyphicon-menu-down{
    top: -2px;
    left: 1px;
    font-size: 5px;
}

.nav-tabs li a{
    color: #687074;
    text-transform: uppercase;
}

.nav-tabs li a:hover{
    border-color: rgba(0,0,0,0);
    background: none;
    color: #fa0000;

}

.nav-tabs .dropdown-menu{
    border-radius: 0;
    border-top: solid 2px #428bca;
    border-bottom: solid 2px #687074;
    min-width: 200px;
}

.nav-tabs .dropdown-menu a{
    color: #687074;
    line-height: 1.8;
    margin: -4px 0;
    padding: 6px 20px;
    font-size: 15px;
    text-transform: capitalize;
}

.nav-tabs .dropdown-menu li:hover a{
    background: #687074;
    color: #fff;
}